body {
    margin: 0;
    padding-top: 90px;
}
*{
    text-decoration: none;
}

/* NAVBAR */
.navbar {
    background: #a8914d; 
    padding: 10px 20px;
    position: fixed;
    box-sizing: border-box;
    top: 0;               
    left: 0;
    width: 100%;          
    z-index: 1000;
}

.navdiv {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    font-size: 35px; 
    font-weight: bold;
    font-family: "Poetsen One", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none; 
    display: inline-block;
    margin-top: 2px;
}

li a {
    color: black; 
    font-size: 25px; 
    font-family: "Poppins", sans-serif;
    margin-right: 10px;
    align-content: center;
}

button.Login {
    background-color: rgba(0,0,0,0.8); 
    color: white !important;           
    font-weight: bold;
    font-size: 18px;                   
    border: none;
    border-radius: 10px;
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;
}


a.btntext {
    font-size: 20px;
    font-family: "Quattrocento Sans", sans-serif;
}

/* NAVBAR RESPONSIVE */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
   .menu-icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 25px;
  }
  

  .navbar {
        padding: 10px 15px;
        background-color: #a8914d;
        max-width: 100%;
    }


  #navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #af9750;
    padding: 15px;
     gap: 20px;
    }
  

  #navLinks.show {
    display: flex;
    align-items: center;
  }
  
  li a {
        font-size: 18px;
    }

  button.Login {
    background-color: black;
    margin-left: 15px;
    margin-right: 25px;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
}
}

/* ORDER PAGE */
.Orders {
    padding-left: 20px;
}

.background-border {
    background-color: #d3be7f;
    border: 1px solid black;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.order-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.Product-pic {
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 5px;
}

.text-orders {
    list-style: none;
    margin: 0;
    flex: 1;
    font-family: "Poppins";
    font-size: 16px;
}

.cancel-btn {
    background-color: #d33;
    color: white;
    border: none;
    padding: 10px 17px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.cancel-btn:hover {
    background-color: #b22;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: white;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    text-align: center;
}

.btn-group button {
    margin: 5px;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

.yes {
    background: red;
    color: white;
}

.no {
    background: gray;
    color: white;
}


/* MOBILE RESPONSIVE FOR ORDER ITEM */
@media (max-width: 760px) {
    
    .order-container {
        align-items: center;
        text-align: center;
    }

    .Product-pic {
        height: 120px;
        width: 120px;
    }

    .text-orders {
        padding-top: 10px;
        font-size: 14px;
    }

    .cancel-btn {
        width: 100%;
        margin-top: 15px;
    }
}
